@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

@keyframes bounce {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes grow {
    from {
        opacity: 0;
        scale: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadetowhite {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}
@keyframes backandforth {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes moveupfadein {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(-200px);
    }
}